.wrap-share {
  padding-top: 165px;
}

.description-share > .text {
  text-align: center;
  color: #888;
  padding-top: 45px;
  font-family: "Helvetica Neue", Helvetica;
  font-size: 16px;
}

.submit-data {
  padding-top: 50px;
}

.submit-data > .button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  font-size: 16px;
  color: #888;
  font-family: "Helvetica Neue", Helvetica;
  width: 250px;
  height: 40px;
  box-shadow: 0px 1px 6px #00000029;
  border-radius: 4px;
  border: 1px solid #707070;
  cursor: pointer;
}
